@import './base.css';

/* Update the root colors */
:root { 
--black: #1F1F1F;
--purple: #DCCFFF;
--blue: #BBEFFF;
--green: #E8FFE8;
--red: #FFBABE;
--orange: #FFDAC9;
--yellow: #FFFAC9;
--pink: #d31d96;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
